*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.containt-header
{
    width: 100%;
    position: absolute;
    display: flex;
    background: #f1d9f8;
    backdrop-filter: blur(19px);
    height: 80px;
    box-shadow: -1px 2px 10px 3px #BC7FCD inset; 
}